    <% @plannedtransactions.each do |plannedtransaction| %>
      <tr>
        <td><%= plannedtransaction.purpose %></td>
		<td><%= Category.find(plannedtransaction.category.id).name %></td>
    <td><%= number_to_currency(plannedtransaction.amount) %></td>
		<td><%= l plannedtransaction.valid_from, format: :month_year unless plannedtransaction.valid_from.nil?%></td>
		<td><%= l plannedtransaction.valid_until, format: :month_year unless plannedtransaction.valid_until.nil?%></td>
    <td><%= check_box(plannedtransaction.january, plannedtransaction.january,  {checked:plannedtransaction.january, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.february, plannedtransaction.february,  {checked:plannedtransaction.february, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.march, plannedtransaction.march,  {checked:plannedtransaction.march, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.april, plannedtransaction.april,  {checked:plannedtransaction.april, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.may, plannedtransaction.may,  {checked:plannedtransaction.may, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.june, plannedtransaction.june,  {checked:plannedtransaction.june, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.july, plannedtransaction.july,  {checked:plannedtransaction.july, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.august, plannedtransaction.august,  {checked:plannedtransaction.august, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.september, plannedtransaction.september,  {checked:plannedtransaction.september, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.october, plannedtransaction.october,  {checked:plannedtransaction.october, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.november, plannedtransaction.november,  {checked:plannedtransaction.november, disabled: true}) %></td>
		<td><%= check_box(plannedtransaction.december, plannedtransaction.december,  {checked:plannedtransaction.december, disabled: true}) %></td>
		<td><%= plannedtransaction.description %></td>
        <td><%= link_to 'Edit', edit_plannedtransaction_path(plannedtransaction) %></td>
        <td><%= link_to 'Destroy', plannedtransaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>