<h1><%= t('edit_recurring_transaction') %></h1>

<%= render 'form', plannedtransaction: @plannedtransaction %>

<%= link_to 'Show', @plannedtransaction %> |
<%= link_to 'Back', plannedtransactions_path %>
