<p id="notice"><%= notice %></p>
<h1><%= t('recurring_transactions') %></h1>
<input type="checkbox" data-remote="true"
    data-url="buchungen_anzeigen" data-method="post" name="buchungen_anzeigen">Alte Buchungen anzeigen
<!--%= link_to '(-)', buchungen_ausblenden_plannedtransactions_path ,method: :post, remote: true %-->
<p><%= link_to t('new_transaction'), new_plannedtransaction_path %></p>
<table>
  <thead>
    <tr>
    <th><%= t('purpose') %></th>
	  <th><%= t('category') %></th>
    <th><%= t('amount') %></th>
		<th><%= t('valid_from') %></th>
		<th><%= t('valid_until') %></th>
    <th><%= (t :abbr_month_names, :scope => :date)[1] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[2] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[3] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[4] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[5] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[6] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[7] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[8] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[9] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[10] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[11] %></th>
	  <th><%= (t :abbr_month_names, :scope => :date)[12] %></th>
	  <th><%= t('description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="products">
  <%= render "list_of_products"%>
  </tbody>
</table>
