<p id="notice"><%= notice %></p>
<% if @plannedtransaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plannedtransaction.errors.count, "error") %> prohibited this plannedtransaction from being saved:</h2>

      <ul>
      <% @plannedtransaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong><%= t('description') %>:</strong>
  <%= @plannedtransaction.description %>
  <br>
  <strong><%= t('amount') %>:</strong>
  <%= number_to_currency(@plannedtransaction.amount) %>
  <br>
  <strong><%= t('purpose') %>:</strong>
  <%= text_area_tag(@plannedtransaction.purpose, @plannedtransaction.purpose, rows: 5, cols: 50, disabled: true) %>
  <br>
  <strong><%= t('category') %>:</strong>
  <%= Category.find(@plannedtransaction.category_id).name %>
  <br>
  <strong><%= t('valid_from') %>:</strong>
  <%= l @plannedtransaction.valid_from, format: :month_year %>
  <br>
  <strong><%= t('valid_until') %>:</strong>
  <%= l @plannedtransaction.valid_until, format: :month_year unless @plannedtransaction.valid_until.nil?%>
  <br>
  <table>
    <thead>
      <tr>
		  <% (1..12).each do |month| %>
        	<th><%= (I18n.t :abbr_month_names, :scope => :date)[month] %></th>
  	  	  <% end %>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= check_box(@plannedtransaction.january, @plannedtransaction.january,  {checked:@plannedtransaction.january, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.february, @plannedtransaction.february,  {checked:@plannedtransaction.february, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.march, @plannedtransaction.march,  {checked:@plannedtransaction.march, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.april, @plannedtransaction.april,  {checked:@plannedtransaction.april, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.may, @plannedtransaction.may,  {checked:@plannedtransaction.may, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.june, @plannedtransaction.june,  {checked:@plannedtransaction.june, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.july, @plannedtransaction.july,  {checked:@plannedtransaction.july, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.august, @plannedtransaction.august,  {checked:@plannedtransaction.august, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.september, @plannedtransaction.september,  {checked:@plannedtransaction.september, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.october, @plannedtransaction.october,  {checked:@plannedtransaction.october, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.november, @plannedtransaction.november,  {checked:@plannedtransaction.november, disabled: true}) %></td>
  		<td><%= check_box(@plannedtransaction.december, @plannedtransaction.december,  {checked:@plannedtransaction.december, disabled: true}) %></td>
                 </tr>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_plannedtransaction_path(@plannedtransaction) %> |
<%= link_to 'Back', plannedtransactions_path %> |
<%= link_to 'Close and Clone', close_and_clone_plannedtransaction_path(@plannedtransaction), method: :patch %>

