<h1 style="text-align:center;">
	<%= link_to '<', get_path_for_show_by_year_previous_month(@start_date) %><%= t('yearly_budget')%><%= t('for') +" "+ @category.name unless @category.nil? %> <%= l(@start_date, format: "%B/%Y") %> - <%= l(@end_date, format: "%B/%Y") %><%= link_to '>', get_path_for_show_by_year_next_month(@start_date) %>
</h1>

Einkommen<br>
Geplant:<%= number_to_currency(@planned_yearly_income) %>(Tatsächlich: <%= number_to_currency(@actual_yearly_income) %>)
<table style="margin: auto;">
	<tr>
		<td style="width:50%;vertical-align:top">
			<table style="width:50%" class="sortable">
			  <thead>
				<tr class="budget_underline" style="text-align: center;">
					<th style="border-bottom: 1px solid rgb(0,0,0);">Name</th>
					<th style="border-bottom: 1px solid rgb(0,0,0);">Geplant</th>
					<th style="border-bottom: 1px solid rgb(0,0,0);">percentage</th>
					<th style="border-bottom: 1px solid rgb(0,0,0);">Tatsächlich</th>
				</tr>
			  </thead>	
			  <tbody>
				<% @categories.each do |category| %>
				<tr>
					<td>
						<%= link_to category.name, show_by_year_category_path(@year, @month, category.id) %>
					</td>
					<td sorttable_customkey="<%= @planned_expenses[category.id] %>" style="text-align: right;">
						<%= number_to_currency(@planned_expenses[category.id]) %>
					</td>
					<td sorttable_customkey="<%= (@planned_expenses[category.id].to_f/@planned_yearly_income.to_f*100).abs %>">
						 <%= number_to_percentage((@planned_expenses[category.id].to_f/@planned_yearly_income.to_f*100).abs, precision: 1);%>
					</td>
					<td sorttable_customkey="<%= get_percentage_or_absolute_for_sortable_column(@expenses[category.id], @planned_expenses[category.id]) %>" style="text-align: right; background-color: rgb(<%=get_color_for_values(@expenses[category.id], @planned_expenses[category.id]) %>);" >
						<%= get_percentage_or_absolute(@expenses[category.id], @planned_expenses[category.id]) %>
					</td>
				</tr><% end %>
				</tbody>
				<tfoot>
				<tr style="font-weight: bold;">
					<td/>
					<td style="font-weight: bold;text-align: right; background-color: rgb(<%=get_color_for_values(@total_planned_expenses, @total_planned_incomes) %>);" >
						<%= number_to_currency(@total_planned_expenses) %>
					</td>
					<td>
						<%= number_to_percentage((@total_planned_expenses.to_f/@planned_yearly_income.to_f*100).abs, precision: 1);%>
					</td>
					<td style="font-weight: bold;text-align: right; background-color: rgb(<%=get_color_for_values(@total_expenses, @total_planned_expenses) %>);" >
						<%= get_percentage_or_absolute(@total_expenses, @total_planned_expenses) %>
					</td>
				</tr>
				</tfoot>
			</table>
		</td>
	</tr>
</table>
<h2>
<%= get_link_to_switch_between_absolute_percentage_year_month @year, @month%>