<h1 style="text-align:center;"><%= t('yearly_budget')%> <%= t('for') +" "+ @category.name unless @category.nil? %> <%= l(@start_date, format: "%B/%Y") %> - <%= l(@end_date, format: "%B/%Y") %></h1>
	<table style="margin: auto;">
		<tr><th>Geplant </th><th>Tatsächlich</th></tr>
		<tr><td style="width:50%;vertical-align:top">
			
	<table style="width:50%">

	<% @plannedtransactions_by_month.each do |planned_transaction, count| %>
	  <tr>
		  <td title="<%=planned_transaction.description %>">
			  <%= "#{count} x " unless count ==1 %>
				<%= show_planned_date_for_unique_transaction planned_transaction if count ==1 %>
				<%= link_to planned_transaction.purpose, get_path_for_plannedtransaction(planned_transaction) %>
			</td>
	    <td style="text-align: right;"><%= number_to_currency(count * planned_transaction.amount) unless planned_transaction.amount < 0 %></td>
		  <td style="text-align: right;"><%= number_to_currency(count * planned_transaction.amount) unless planned_transaction.amount > 0 %></td>
	  </tr>
	<% end %>
	
	<tr style="font-weight: bold;">
		<hr>
		<td>Gesamt:</td>
		<td style="font-weight: bold;text-align: right;"><%= number_to_currency(@total_planned_incomes) %></td>
		<td style="font-weight: bold;text-align: right;"><%= number_to_currency(@total_planned_expenses) %></td>
	</tr>
</table>
</td>
<td style="width:50%;vertical-align:top">
	<table  style="width:100%">

	<% @transactions.each do |transaction| %>
	  <tr <%= "class=not-booked" unless transaction.booked? %>>
		 <td title="<%=transaction.purpose %>">
		 <span class="tag"><%= l(transaction.occurance_date, format: "%B/%Y") %></span>
		 	<%= link_to transaction.name, transaction_path(transaction) %>
		 </td>
    <td style="text-align: right;"><%= number_to_currency(transaction.amount) unless transaction.amount < 0 %></td>
	<td style="text-align: right;"><%= number_to_currency(transaction.amount) unless transaction.amount > 0 %></td>
	  </tr>
	<% end %>
	
	<tr style="font-weight: bold;">
		<hr>
		<td>Gesamt:</td>
		<td style="font-weight: bold;text-align: right;"><%= number_to_currency(@total_incomes) %></td>
		<td style="font-weight: bold;text-align: right;"><%= number_to_currency(@total_expenses) %></td>
	</tr>
</table>
</td>
</tr>
</table>