<%= form_with(model: unique_planned_transaction, local: true) do |form| %>
  <% if unique_planned_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unique_planned_transaction.errors.count, "error") %> prohibited this unique_planned_transaction from being saved:</h2>

      <ul>
      <% unique_planned_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose, id: :unique_planned_transaction_purpose %>
  </div>
  
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %><%= currency_symbol %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :unique_planned_transaction_date, discard_day: true%>
  </div>
  
  <div class="field">
    <%= form.label :category %>
     <%= form.select :category_id, Category.where(user_id: session[:user_id]).collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description, id: :unique_planned_transaction_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
