<h1><%= t('edit_unique_transaction')%></h1>

<%= render 'form', unique_planned_transaction: @unique_planned_transaction %>

<%= link_to 'Show', @unique_planned_transaction %> |
<%= link_to 'Back', unique_planned_transactions_path %>
