<p id="notice"><%= notice %></p>

<h1><%= t('unique_transactions')%></h1>
<p><%= link_to t('new_transaction'), new_unique_planned_transaction_path %></p>
<hr/>
<h2><%= t('future_transactions')%></h2>
<table>
  <thead>
    <tr>
      <th><%= t('purpose') %></th>
	    <th><%= t('category') %></th>
	    <th><%= t('amount') %></th>
      <th><%= t('planned_date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @unique_planned_future_transactions.each do |unique_planned_transaction| %>
      <tr>
        <td><%= unique_planned_transaction.purpose %></td>
		    <td><%= Category.find(unique_planned_transaction.category.id).name %></td>
		    <td><%= number_to_currency(unique_planned_transaction.amount) %></td>
        <td><%= l unique_planned_transaction.date, format: :month_year %></td>
        <td><%= link_to 'Show', unique_planned_transaction %></td>
        <td><%= link_to 'Edit', edit_unique_planned_transaction_path(unique_planned_transaction) %></td>
        <td><%= link_to 'Destroy', unique_planned_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2><%= t('past_transactions')%></h2>
  <hr/>
 <table>
     <thead>
       <tr>
         <th><%= t('purpose') %></th>
   	     <th><%= t('category') %></th>
   	     <th><%= t('amount') %></th>
         <th><%= t('planned_date') %></th>
         <th colspan="3"></th>
       </tr>
     </thead>
 <tbody>
   <% @unique_planned_past_transactions.each do |unique_planned_transaction| %>
     <tr>
       <td title ="<%= unique_planned_transaction.description %>"><%= unique_planned_transaction.purpose %></td>
	<td><%= Category.find(unique_planned_transaction.category.id).name %></td>
	<td><%= number_to_currency(unique_planned_transaction.amount) %></td>
       <td><%= l unique_planned_transaction.date, format: :month_year %></td>
       <td><%= link_to 'Show', unique_planned_transaction %></td>
       <td><%= link_to 'Edit', edit_unique_planned_transaction_path(unique_planned_transaction) %></td>
       <td><%= link_to 'Destroy', unique_planned_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
   <% end %>
 </tbody>
</table>
