<p id="notice"><%= notice %></p>
<p>
  <strong><%= t('purpose')%>:</strong>
  <%= @unique_planned_transaction.purpose %>
</p>
<p>
  <strong><%= t('description')%>:</strong>
  <%= @unique_planned_transaction.description %>
</p>
<p>
  <strong><%= t('amount')%>:</strong>
  <%= number_to_currency(@unique_planned_transaction.amount) %>
</p>
<p>
  <strong><%= t('planned_date')%>:</strong>
  <%= l @unique_planned_transaction.date, format: :month_year %>
</p>
<p>
  <strong><%= t('category') %>:</strong>
  <%= @unique_planned_transaction.category.name %>
</p>

<%= link_to 'Edit', edit_unique_planned_transaction_path(@unique_planned_transaction) %> |
<%= link_to 'Back', unique_planned_transactions_path %>
