<h1 style="text-align:center;">
	<%= t('budget') %> <%= t('for') +" "+ @category_to_display.name unless @category_to_display.nil? %> <%= t('for') %> mehrere Monate
</h1>
<div style="clear: both;float: left;">
    <div class="subteam">
        <table>
    	<tr>
    		<td style="width:100%;vertical-align:top">
    			<table style="width:100%">
    				<tr class="budget_underline" style="text-align: right;">
    					<th>&nbsp;</th>
    				</tr><% @categories_to_display.each do |category| %>
    				<tr>
    					<td style="text-align: right;" >
							<%= link_to category.name, show_multiple_months_by_category_path(@year, @month,  category.id) %>
    					</td>
    				</tr><% end %>
    				<tr style="font-weight: bold;">
    					<td style="font-weight: bold;text-align: right;" >
    						 Gesamt
    					</td>
    				</tr>
    			</table>
    		</td>
    	</tr>
    </table>
</div>
<% @monthly_budget.each do |monthly_budget| %>
    <%= render monthly_budget %>
<% end %>
<div style="clear: both;">

<div class="unplanned_transactions" >
	<span id="unplanned_transactions_headline"><h1><%= t('unplanned_transactions') %>:<span id="add_button"><%= link_to '+', new_plannedtransaction_path %></span></h1></span>
	<table>
		<tr style="text-align: center">
			<th style="border-bottom: 1px solid rgb(0,0,0);">
				<%= t('description')%>
			</th>
			<th style="border-bottom: 1px solid rgb(0,0,0);">
				<%= t('amount')%>
			</th>
			<th style="border-bottom: 1px solid rgb(0,0,0);">
				<%= t('category')%>
			</th>
		</tr>
		<tbody>
			<% @unplannedtransactions.each do |unplannedtransaction| %>
			<tr>
				<%= render unplannedtransaction  %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<%= get_link_to_switch_between_absolute_percentage_year_month @year, @month%>
