<h1>Budget for Month <%= @month %></h1>
<p>
	<table>
	  <tr>
	    <th>Kategorie</th>
	    <th>Betrag</th>
	  </tr>

	<% @sums.each do |category_id, sum| %>
	  <tr>
	    <td><%= Category.find(category_id).name %></td>
	    <td><%= sum %></td>
	  </tr>
	<% end %>
</p>
