/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "./actiontext.scss";

html {
  display: block;
  padding:0px;
}

body {
  background-color: beige;
  padding:0px;
  margin: auto;
}

.nav-item {
   padding: 5px;
   font-size: 16px;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 6;
  background-color: burlywood;
  
}

.main-content {
  margin: auto;
  width: 90%;
  border: 3px solid burlywood;
  padding: 10px;
  background-color: white;
}

.not-booked {
  background-color: lightgrey;
  color: grey;
}