// Place all the styles related to the Budget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.budget {
  text-align:left;
  border: 1px solid rgb(0,0,0);
  float: right;
  margin: auto;
  width: 50%;
  background-color: green;
}

.budget_underline {
  border: 1px solid rgb(0,0,0);
}

.tag {
    border: 1px solid rgb(0,0,0);
    border-color: grey;
    border-radius: 5px;
    text-align:center;
    font-size: smaller;
    vertical-align: middle;
    padding: 1px;
    background-color: lightblue;
}