// Place all the styles related to the MultipleMonthsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subteam {
  text-align:left;
  border: 1px solid rgb(0,0,0);
  float: left;
}