// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li span, #add_button {
	display: none;
}

.unplanned_transactions li span, #add_button {
	display: none;
}

.unplanned_transactions li:hover span, #unplanned_transactions_headline:hover #add_button {
	display: inline;
}

.unplanned_transactions_headline {
  color:black;
  font-size: 14px;
  font-family: helvetica;
  font-weight: bold;
}