<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :income %>
    <%= f.check_box :income %>
  </div>
  
  <div class="field">
    <%= f.label :expense %>
    <%= f.check_box :expense %>
  </div>
  
  <div class="field">
    <%= f.label :temporary %>
    <%= f.check_box :temporary %>
  </div>

  <div class="field">
    <%= f.label :unique_transactions %>
    <%= f.check_box :unique_transactions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
