<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
	  <th>Beschreibung</th>
	  <th>Einkommen</th>
	  <th>Ausgabe</th>
	  <th>Temporary</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
		    <td><%= category.description %></td>
		    <td><%= category.income %></td>
		    <td><%= category.expense %></td>
		    <td><%= category.temporary%></td>
        <td><%= category.unique_transactions%></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
