<p id="notice"><%= notice %></p>

<div>
  <strong>Kategoriename:</strong>
  <%= @category.name %>
</div>
<br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
