<div class="subteam">
    <table>
	<tr>
		<td style="width:100%;vertical-align:top">
			<table style="width:100%">
				<tr class="budget_underline" style="text-align: right;">
					<th style="border-bottom: 1px solid rgb(0,0,0);">
						<%= link_to t(monthly_budget.name_of_month), show_by_year_month_path(@year, monthly_budget.number_of_month) %>
					</th>
				</tr><% monthly_budget.categories.each do |category| %>
				<tr>
					<td style="text-align: right;" >
						<%= number_to_currency(monthly_budget.get_monthly_expense_for_category_id(category.id)) %>
					</td>
				</tr><% end %>
				<tr style="font-weight: bold;">
					<td style="font-weight: bold;text-align: right;" >
						<%= number_to_currency(monthly_budget.total_expenses) %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>