<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :moneymoney_id %>
    <%= f.number_field :moneymoney_id %>
  </div>

  <div class="field">
    <%= f.label :account_name %>
    <%= f.text_field :account_name, disabled: 'disabled' %>
  </div>

  <div class="field">
    <%= f.label :booked %>
    <%= f.check_box :booked %>
  </div>

  <div class="field">
    <%= f.label :occurance_date %>
    <%= f.date_select :occurance_date %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
     <%= f.select :category_id, Category.where(user_id: session[:user_id]).order(:name).collect {|p| [ p.name, p.id ]}, {include_blank: 'None'} %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :purpose %>
    <%= f.text_field :purpose %>
  </div>

  <div class="field">
    <%= f.label :account %>
    <%= f.text_field :account %>
  </div>

  <div class="field">
    <%= f.label :bank %>
    <%= f.text_field :bank %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
