<tr>
					<td style="text-align: left;" title ="<%= transaction.purpose %>" >
						<%= link_to transaction.name, edit_transaction_path(transaction) %>
					</td>
					<td><%= number_to_currency(transaction.amount) %></td>
					</tr>