<p id="notice"><%= notice %></p>

<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>



<h1>Transactions without category</h1>
<table>
  <thead>
    <tr>
      <th>Moneymoney</th>
      <th>Account Name</>
      <th>Occurance date</th>
      <th>Category</th>
      <th>Name</th>
      <th>Purpose</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <% @transactions_without_category.each do |transaction| %>
        <tr <%= "class=not-booked" unless transaction.booked %> >
          <td><%= transaction.moneymoney_id %></td>
          <td><%= transaction.account_name %></td>
          <td><%= transaction.occurance_date %></td>
          <td><%= Category.find(transaction.category_id).name unless transaction.category_id.nil?%></td>
          <td><%= transaction.name %></td>
          <td><%= transaction.purpose %></td>
          <td><%= transaction.amount %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<h1 style="text-align:center;">
	<%= link_to '<', get_path_for_show_by_year_month_previous_month(@first_day_of_the_month_to_show) %><%= t('transactions') %> <%= t('for') %> <%= l(@first_day_of_the_month_to_show, format: "%B") %> <%= @year %>  <%= link_to '>', get_path_for_show_by_year_month_next_month(@first_day_of_the_month_to_show) %>
</h1>
<table>
  <thead>
    <tr>
      <th>Moneymoney</th>
      <th>Account Name</>
      <th>Occurance date</th>
      <th>Category</th>
      <th>Name</th>
      <th>Purpose</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr <%= "class=not-booked" unless transaction.booked? %>>
        <td><%= transaction.moneymoney_id %></td>
        <td><%= transaction.account_name %></td>
        <td><%= transaction.occurance_date %></td>
        <td><%= Category.find(transaction.category_id).name unless transaction.category_id.nil?%></td>
        <td><%= transaction.name %></td>
        <td><%= transaction.purpose %></td>
        <td><%= transaction.amount %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Delete all Transactions', delete_all_transactions_path, method: :delete, data: { confirm: 'Are you sure?' } %>