<p id="notice"><%= notice %></p>

<p>
  <strong>MoneMoney_id:</strong>
  <%= @transaction.moneymoney_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
