<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.7.0/css/all.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div class="nav-bar">
      <%= link_to budget_index_path, class: "nav-item"  do %>
        <i class='fas fa-columns'></i><%= t('.budget')%>
      <% end %>
      <%= link_to budget_by_year_index_path, class: "nav-item" do %> 
      <%= t('.yearly_budget') %>
      <% end %>
      <%= link_to transactions_path, class: "nav-item" do %>
        <i class="fas fa-align-justify"></i><%= t('.transactions') %>
      <% end %>
      <%= link_to categories_path, class: "nav-item" do %>
        <i class="fas fa-list"></i><%= t('.categories')%>
      <% end %>
      <%= link_to plannedtransactions_path, class: "nav-item" do %>
        <i class="fas fa-calendar-week"></i><%= t('recurring_transactions') %>
      <% end %>
      <%= link_to t('unique_transactions'), unique_planned_transactions_path, class: "nav-item" %>
      <%= link_to t('.users'), users_path, class: "nav-item" if session[:is_admin]%> 
      <%= link_to t('.Logout'), logout_path, class: "nav-item", method: :delete %>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
